
ion-content {
  --background: #208D3F; /* Couleur de fond */
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container {
  margin-top: 10%;
  margin-left: 10%;
  width: 80%;
  padding: 5px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

ion-item {
  margin-bottom: 15px;
}

.signup-button {
  --background: #000000;
  --color: #ffffff;
  --border-radius: 20px;
  margin-top: 20px;
}

.login-option {
  margin-top: 20px;
  text-align: center;
}

.login-option p {
  margin: 0;
}

.login-option a {
  color: #208D3F;
  text-decoration: none;
}
