<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ReversIA
    </ion-title>
      <ion-icon (click)="openProfilePopup()" name="person-circle"></ion-icon>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="dashboard">
    <ion-img src="../../assets/logo/ReversAI.png" style="min-width:241px; min-height:48px" alt="ReversAI"></ion-img>
    <ion-button shape="round" class="div-6 black-button">Play Online</ion-button>
    <ion-button (click)="goToOfflinePage()" shape="round" class="div-7 black-button">Play Offline</ion-button>
    <ion-button (click)="GoToChoosePlayerDisc()" shape="round" class="div-8 black-button">Play vs AI</ion-button>
    <ion-button (click)="goToAIVsAIPage()" shape="round" class="div-9 black-button">AI vs AI</ion-button>
    <ion-button (click)="goToHowToPlay()" shape="round" class="div-10 black-button">How to play</ion-button>

    <div class="rate-share-settings">
      <ion-button class="round-button"> 
        <ion-icon name="star"></ion-icon>
      </ion-button>
      <ion-button class="round-button">
        <ion-icon name="share"></ion-icon>
      </ion-button>
      <ion-button class="round-button">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
    </div>  
  </div>    
</ion-content>

