<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ReversIA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <div class="dashboard">
      <ion-img src="../../assets/logo/ReversAI.png" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
      <ion-button class="div-6 black-button">Play Online</ion-button>
      <ion-button class="div-7 black-button">Play Offline</ion-button>
      <ion-button class="div-8 black-button">Play vs AI</ion-button>
      <ion-button class="div-9 black-button">AI vs AI</ion-button>
      <ion-button class="div-10 black-button">How to play</ion-button>
    </div>    
  </ion-content>
</ion-content>
