ion-content {
    --background: #208D3F;
  }

.dashboard {
display: flex;
flex-direction: column;
align-items: center; /* Pour centrer les éléments horizontalement */

ion-button.black-button {
    --color: rgb(255, 255, 255); /* Changement de couleur du texte en noir */
    --background: #000000; /* Tu peux changer la couleur d'arrière-plan si nécessaire */
}
}
  