<ion-content>
    <div class="popup-content">
        <ion-img class="circular-image" src="../../../assets/joueur2.png"></ion-img>   
      <div class="login-buttons">
        <!-- Boutons de connexion -->
        <button  (click)="login()">Log In</button>
        <button  (click)="signup()">Sign Up</button>
      </div>
      <div class="continue-with">
        <p>Or continue with:</p>
        <!-- Logos des réseaux sociaux -->
        <ion-icon name="logo-google"></ion-icon>
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="logo-apple"></ion-icon>
      </div>
    </div>
</ion-content>
  