.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  ion-button {
    --color: rgb(255, 255, 255);
      --background: #000000;
      width: 200px;
      font-size: larger;
      height: fit-content;
      margin-top: 15px;
      border-radius: 20px;
    }
  
  ion-content {
    --background: #208D3F;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;

  }