<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button type="dark" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Offline</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Offline</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="container">
      <div class="player">
          <div class="player-info">
              <img src="../../assets/joueur1.png" alt="Photo joueur 1" class="player-photo">
              <div class="score">{{ player1Score }}</div>
          </div>
          <div class="player1">
              <h3>Player 1</h3>
          </div>
      </div>
      <div class="player">
          <div class="player-info">
            <div class="score">{{ player2Score }}</div>
            <img src="../../assets/joueur2.png" alt="Photo joueur 2" class="player-photo">   
          </div>
          <div class="player2">
              <h3>Player 2</h3>
          </div>
      </div>
    </div>
  
    <div class="game-board">
      <ion-row *ngFor="let row of cells; let i = index">
        <ion-col *ngFor="let cell of row; let j = index">
          <ion-button class="cell" (click)="makeMove(i, j)">
            <img class="circle" [src]="getImagePath(cell)">
          </ion-button>
        </ion-col>
      </ion-row>
    </div>

    <div class="scores">
      <div>
        <ion-label>Black Score: {{ player1Score }}</ion-label>
      </div>
      <div>
        <ion-label>White Score: {{ player2Score }}</ion-label>
      </div>
    </div>

  </ion-content>

</ion-content>

