<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button type="dark" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Player VS AI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Player VS AI</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="players">
      <div>
        <h2>
          Artificial Intelligence
       </h2>
      </div>
    </div>

    <div class="game-board">
      <ion-row *ngFor="let row of cells; let i = index">
        <ion-col *ngFor="let cell of row; let j = index">
          <ion-button class="cell" (click)="makeOneMove(difficulty)">
            <img class="circle" [src]="getImagePath(cell)">
          </ion-button>
        </ion-col>
      </ion-row>
    </div>

    <div class="scores">
      <div>
        <ion-label>Black Score: {{ player1Score }}</ion-label>
      </div>
      <div>
        <ion-label>White Score: {{ player2Score }}</ion-label>
      </div>
    </div>

  </ion-content>

</ion-content>

