<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>choose-ai-difficulty-vs-player</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="dashboard">
    <ion-img src="../../assets/logo/ReversAI.png" style="min-width:241px; min-height:48px" alt="ReversAI"></ion-img>
    <br><br>
    <ion-button (click)="goToPlayerVsAIPage(playerDisc, 'Easy')" shape="round" class="div-9 black-button">Easy</ion-button>
    <ion-button (click)="goToPlayerVsAIPage(playerDisc, 'Medium')" shape="round" class="div-10 black-button">Medium</ion-button>
    <ion-button (click)="goToPlayerVsAIPage(playerDisc, 'Hard')" shape="round" class="div-10 black-button">Hard</ion-button>
    <br><br><br>
    <ion-button (click)="goHome()" shape="round" class="div-10 black-button">Home</ion-button>
  </div>    
</ion-content>