<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <div class="profile-picture">
    <img [src]="profilePicture" alt="Profile Picture">
    <input type="file" accept="image/*" (change)="onProfilePictureChange($event)">
  </div>
  <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input type="text" [(ngModel)]="username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="saveChanges()">Save Changes</ion-button>
</ion-content>
